<?xml version="1.0" encoding="utf-8" ?>
<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	throwExceptions="true"		
>
	<variable name="preciseDateFormat" value="yyyy.MM.dd-HH\:mm\:ss.fff" />
	<variable name="preciseDate" value="${date:format=${preciseDateFormat}}"/>
	<variable name="textLayout" value="${preciseDate} [${level}] ${logger}: ${message}" />
	<targets>
		<target
			xsi:type="ColoredConsole"
			name="console"
			header="${preciseDate} Log:.."
			layout="${textLayout}"
			footer="${preciseDate}: end of log."
		/>
	</targets>
	<targets>
		<default-wrapper xsi:type="AsyncWrapper"
			queueLimit="1000"
			timeToSleepBetweenBatches="60"
			batchSize="100"
			overflowAction="Discard"
		>
			<wrapper-target 
				xsi:type="BufferingWrapper"
				flushTimeout="60"
			/>
		</default-wrapper>
		<target
			xsi:type="File"
			name="file"
			keepFileOpen="true"
			concurrentWrites="false"
			openFileCacheTimeout="60"
			fileName="${basedir}\Log\log.log"
			archiveFileName="${basedir}\Log\log{#}.txt"
			archiveAboveSize="100000"
			maxArchiveFiles="6"
		/>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="console"/>
		<logger name="*" minlevel="Trace" writeTo="file"/>
	</rules>
</nlog>


